{% block header %}
    {% if not renderRaw|default %}
        {{ moduleLinks('user', '', 'CmfcmfMediaModule') }}
    {% endif %}
{% endblock %}

{% if not renderRaw|default and breadcrumbs|default %}
    {% include '@CmfcmfMediaModule/breadcrumbs.html.twig' %}
{% endif %}

{% block upgradeNotification %}
    {% if not renderRaw|default and hasPermission('ZikulaExtensionsModule::', '::', 'ACCESS_ADMIN') and hasPermission('CmfcmfMediaModule:settings:', '::', 'ACCESS_ADMIN') and cmfcmfmediamodule_newversionavailable() %}
        <div class="alert alert-warning">
            <i class="fa fa-fw fa-download fa-2x pull-left"></i>
            {{ __f('The %s version of the MediaModule is available for download. You can apply the automatic upgrade by clicking here:', {'%s': cmfcmfmediamodule_newversionavailable()}) }}
            <a href="{{ path('cmfcmfmediamodule_upgrade_doupgrade') }}" class="alert-link">{{ __('Upgrade now!') }}</a>
            <div class="clearfix"></div>
        </div>
    {% endif %}
{% endblock %}

{% block above_title %}{% endblock %}

{% set title = block('title') %}
{% if title|trim is not empty %}
    <h1>{% block title %}{% endblock %}</h1>
    {{ pageSetVar('title', title) }}
{% endif %}

{% if not renderRaw|default %}
    {{ showflashes() }}
{% endif %}

{% block content %}{% endblock %}

{% block footer %}{% endblock %}
