{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block title %}
    {{ __('Delete permission') }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                {{ __('Do you really want to delete this permission?') }}
            </div>
            <div class="table-responsive">
                <table class="table">
                    <colgroup>
                        <col id="cDescription" />
                        <col id="cTarget" />
                        <col id="cCollection" />
                        <col id="cPermissionLevels" />
                        <col id="cAppliedToSelf" />
                        <col id="cAppliedToSubCollections" />
                        <col id="cGoOn" />
                        <col id="cValidity" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th id="hDescription" scope="col">{{ __('Description') }}</th>
                            <th id="hTarget" scope="col">{{ __('Target') }}</th>
                            <th id="hCollection" scope="col">{{ __('Collection') }}</th>
                            <th id="hPermissionLevels" scope="col">{{ __('Permission levels') }}</th>
                            <th id="hAppliedToSelf" scope="col">{{ __('Applied to self') }}</th>
                            <th id="hAppliedToSubCollections" scope="col">{{ __('Applied to sub-collections') }}</th>
                            <th id="hGoOn" scope="col">{{ __('Go on') }}</th>
                            <th id="hValidity" scope="col">{{ __('Validity') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td headers="hDescription" title="{{ permission.description|e('html_attr') }}">
                            {{ permission.description }}
                        </td>
                        <td headers="hTarget">
                            {{ collectionPermission.targets(permission) }}
                        </td>
                        <td headers="hCollection">
                            <strong>{{ permission.collection.title }}</strong>
                        </td>
                        <td headers="hPermissionLevels">{{ permission.permissionLevels|join(', ') }}</td>
                        <td headers="hAppliedToSelf">{{ permission.appliedToSelf ? __('yes') : __('no') }}</td>
                        <td headers="hAppliedToSubCollections">{{ permission.appliedToSubCollections ? __('yes') : __('no') }}</td>
                        <td headers="hGoOn">{{ permission.goOn ? __('yes') : __('no') }}</td>
                        <td headers="hValidity">
                            {% if permission.validAfter is not null %}
                                {{ permission.validAfter|date }}
                            {% else %}
                                {{ __('now') }}
                            {% endif %}
                            -
                            {% if permission.validUntil is not null %}
                                {{ permission.validUntil|date }}
                            {% else %}
                                {{ __('forever') }}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                <form action="{{ path('cmfcmfmediamodule_permission_delete', {id: permission.id}) }}" method="post">
                    <button type="submit" class="btn btn-danger">
                        {{ __('Delete') }}
                    </button>
                    <a href="{{ path('cmfcmfmediamodule_permission_view', {slug: permission.collection.slug}) }}" class="btn btn-default">
                        {{ __('Cancel') }}
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
