{% extends '@CmfcmfMediaModule/base.html.twig' %}
{% block title %}
    {% trans %}Delete permission{% endtrans %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="alert alert-danger">
                {% trans %}Do you really want to delete this permission?{% endtrans %}
            </div>
            <div class="table-responsive">
                <table class="table">
                    <colgroup>
                        <col id="cDescription" />
                        <col id="cTarget" />
                        <col id="cCollection" />
                        <col id="cPermissionLevels" />
                        <col id="cAppliedToSelf" />
                        <col id="cAppliedToSubCollections" />
                        <col id="cGoOn" />
                        <col id="cValidity" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th id="hDescription" scope="col">{% trans %}Description{% endtrans %}</th>
                            <th id="hTarget" scope="col">{% trans %}Target{% endtrans %}</th>
                            <th id="hCollection" scope="col">{% trans %}Collection{% endtrans %}</th>
                            <th id="hPermissionLevels" scope="col">{% trans %}Permission levels{% endtrans %}</th>
                            <th id="hAppliedToSelf" scope="col">{% trans %}Applied to self{% endtrans %}</th>
                            <th id="hAppliedToSubCollections" scope="col">{% trans %}Applied to sub-collections{% endtrans %}</th>
                            <th id="hGoOn" scope="col">{% trans %}Go on{% endtrans %}</th>
                            <th id="hValidity" scope="col">{% trans %}Validity{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td headers="hDescription" title="{{ permission.description|e('html_attr') }}">
                            {{ permission.description }}
                        </td>
                        <td headers="hTarget">
                            {{ collectionPermission.targets(permission) }}
                        </td>
                        <td headers="hCollection">
                            <strong>{{ permission.collection.title }}</strong>
                        </td>
                        <td headers="hPermissionLevels">{{ permission.permissionLevels|join(', ') }}</td>
                        <td headers="hAppliedToSelf">{{ permission.appliedToSelf ? 'yes'|trans : 'no'|trans }}</td>
                        <td headers="hAppliedToSubCollections">{{ permission.appliedToSubCollections ? 'yes'|trans : 'no'|trans }}</td>
                        <td headers="hGoOn">{{ permission.goOn ? 'yes'|trans : 'no'|trans }}</td>
                        <td headers="hValidity">
                            {% if permission.validAfter is not null %}
                                {{ permission.validAfter|date }}
                            {% else %}
                                {% trans %}now{% endtrans %}
                            {% endif %}
                            -
                            {% if permission.validUntil is not null %}
                                {{ permission.validUntil|date }}
                            {% else %}
                                {% trans %}forever{% endtrans %}
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-offset-2 col-sm-10 col-xs-12">
                <form action="{{ path('cmfcmfmediamodule_permission_delete', {id: permission.id}) }}" method="post">
                    <button type="submit" class="btn btn-danger">
                        {% trans %}Delete{% endtrans %}
                    </button>
                    <a href="{{ path('cmfcmfmediamodule_permission_view', {slug: permission.collection.slug}) }}" class="btn btn-default">
                        {% trans %}Cancel{% endtrans %}
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
