{% extends '@CmfcmfMediaModule/base.html.twig' %}
{% block title %}
    {{ 'Create new or edit permission for collection "%s%"'|trans({'%s%': collection.title}) }}
{% endblock %}
{% block content %}
    {% include '@CmfcmfMediaModule/util.html.twig' %}
    {% form_theme form '@CmfcmfMediaModule/Form/bootstrap_3.html.twig' %}
    {{ form_start(form) }}
        <fieldset>
            <legend>{% trans %}Content{% endtrans %}</legend>
            {{ form_widget(form) }}
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-fw fa-save"></i> {% trans %}Save{% endtrans %}
                </button>
                <a href="{{ path('cmfcmfmediamodule_permission_view', {slug: collection.slug}) }}" class="btn btn-default">
                    <i class="fa fa-fw fa-ban"></i> {{ 'Cancel'|trans }}
                </a>
            </div>
        </fieldset>
    {{ form_end(form) }}
{% endblock %}
