{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block title %}
    {% if renderRaw is not defined or not renderRaw %}
        {{ collection.title }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if collection.description is not empty %}
        <div class="row">
            <div class="col-xs-12">
                {{ collection|cmfcmfmediamodule_getdescription }}
            </div>
        </div>
    {% endif %}

    {{ content|raw }}

    {{ hook|raw }}

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            {% if cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\SecurityTree::PERM_LEVEL_ADD_SUB_COLLECTIONS')) %}
                <a href="{{ path('cmfcmfmediamodule_collection_new', {slug: collection.slug}) }}" class="btn btn-default">
                    <i class="fa fa-plus"></i> {{ __('Create new collection') }}
                </a>
            {% endif %}
            {% if cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\SecurityTree::PERM_LEVEL_ADD_MEDIA')) %}
                <a href="{{ path('cmfcmfmediamodule_media_new', {parent: collection.slug}) }}" class="btn btn-default">
                    <i class="fa fa-plus"></i> {{ __('Create new media') }}
                </a>
            {% endif %}
            {% if cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\SecurityTree::PERM_LEVEL_EDIT_COLLECTION')) %}
                <a href="{{ path('cmfcmfmediamodule_collection_edit', {slug: collection.slug}) }}" class="btn btn-default">
                    <i class="fa fa-edit"></i> {{ __('Edit collection') }}
                </a>
            {% endif %}
            {% if cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\SecurityTree::PERM_LEVEL_DOWNLOAD_COLLECTION')) %}
                <a href="{{ path('cmfcmfmediamodule_collection_download', {slug: collection.slug}) }}" class="btn btn-default">
                    <i class="fa fa-download"></i> {{ __('Download collection') }}
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
