{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block above_title %}
    {% include 'CmfcmfMediaModule:Search:search.html.twig' %}
{% endblock %}
{% block title %}
    {% if not renderRaw|default %}
        {{ collection.title }}
    {% endif %}
{% endblock %}
{% block content %}
    {% if collection.description is not empty %}
        <div class="row">
            <div class="col-xs-12">
                {{ collection|cmfcmfmediamodule_getdescription }}
            </div>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 20px;">
        <div class="col-xs-12">
            {% set createCollectionPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_ADD_SUB_COLLECTIONS')) %}
            {% set addMediaPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_ADD_MEDIA')) %}
            {% if createCollectionPermission and addMediaPermission %}
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-plus"></i> {{ __('Create') }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('cmfcmfmediamodule_collection_new', {slug: collection.slug}) }}">
                                <i class="fa fa-fw fa-folder-o"></i> {{ __('collection') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('cmfcmfmediamodule_media_new', {parent: collection.slug}) }}">
                                <i class="fa fa-fw fa-picture-o"></i> {{ __('media') }}
                            </a>
                        </li>
                    </ul>
                </div>
            {% elseif createCollectionPermission %}
                <a href="{{ path('cmfcmfmediamodule_collection_new', {slug: collection.slug}) }}" class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i> {{ __('Create new collection') }}
                </a>
            {% elseif addMediaPermission %}
                <a href="{{ path('cmfcmfmediamodule_media_new', {parent: collection.slug}) }}" class="btn btn-default btn-sm">
                    <i class="fa fa-plus"></i> {{ __('Create new media') }}
                </a>
            {% endif %}
            {% set editCollectionPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_EDIT_COLLECTION')) %}
            {% set enhancePermissionsPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_ENHANCE_PERMISSIONS')) %}
            {% set changePermissionsPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_CHANGE_PERMISSIONS')) %}
            {% if editCollectionPermission %}
                <a href="{{ path('cmfcmfmediamodule_collection_edit', {slug: collection.slug}) }}" class="btn btn-default btn-sm">
                    <i class="fa fa-edit"></i> {{ __('Edit collection') }}
                </a>
            {% endif %}
            {% if editCollectionPermission %}
                <a href="{{ path('cmfcmfmediamodule_permission_view', {slug: collection.slug}) }}" class="btn btn-default btn-sm">
                    <i class="fa fa-user-secret"></i>
                    {% if changePermissionsPermission %}
                        {{ __('View and change permissions') }}
                    {% elseif enhancePermissionsPermission %}
                        {{ __('Invite people and view permissions') }}
                    {% else %}
                        {{ __('View permissions') }}
                    {% endif %}
                </a>
            {% endif %}
            {% if cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_DOWNLOAD_COLLECTION')) %}
                <a href="{{ path('cmfcmfmediamodule_collection_download', {slug: collection.slug}) }}" class="btn btn-default btn-sm">
                    <i class="fa fa-download"></i> {{ __('Download collection') }}
                </a>
            {% endif %}
        </div>
    </div>

    {{ content|raw }}

    {{ hook|raw }}
{% endblock %}
