{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block title __('Create or edit collection') %}
{% block content %}
    {% include 'CmfcmfMediaModule::util.html.twig' %}
    {% form_theme form 'CmfcmfMediaModule:Form:bootstrap_3.html.twig' %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ hook|raw }}
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">
            <i class="fa fa-fw fa-save"></i> {{ __('Save') }}
        </button>
        <a href="{{ path('cmfcmfmediamodule_collection_displayroot') }}" class="btn btn-default">
            <i class="fa fa-fw fa-ban"></i> {{  __('Cancel') }}
        </a>
    </div>
    {{ form_end(form) }}
    <script type="text/javascript">
        (function ($) {
            var $collectionHolder;

            $(document).ready(function() {
                var permissionTypes = [
                    'user',
                    'group',
                    'password'
                ];
                for (var i = 0; i < permissionTypes.length; i++) {
                    initializePermissionList($collectionHolder, permissionTypes[i]);
                }
            });

            function initializePermissionList($collectionHolder, permissionType) {
                // setup an "add a tag" link
                var $addTagLink = $('<a href="#" class="btn btn-default btn-sm">Add new permission</a>');
                var $newLinkLi = $('<li></li>').append($addTagLink);

                // Get the ul that holds the collection of tags
                $collectionHolder = $('#cmfcmfmediamodule_collection_collectiontype_' + permissionType + 'Permissions');

                $collectionHolder.find('li').each(function () {
                    addTagFormDeleteLink($(this));
                });

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $addTagLink.on('click', function (e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // add a new tag form (see next code block)
                    addTagForm($collectionHolder, $newLinkLi);
                });
            }

            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                // add a delete link to the new form
                addTagFormDeleteLink($newFormLi);
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a class="btn btn-danger btn-sm" href="#">Delete this permission</a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }
        })(jQuery);
    </script>
{% endblock %}
