{% extends '@CmfcmfMediaModule/adminBase.html.twig' %}
{% block title 'Media list'|trans %}
{% block content %}
    <form action="{{ path('cmfcmfmediamodule_media_adminlist') }}" method="GET" class="form-inline">
        <div class="form-group">
            <label for="searchTerm" class="mr-1">{% trans %}Search{% endtrans %}:</label>
            <input type="search" id="searchTerm" name="q" value="{{ currentSearchTerm|e('html_attr') }}" class="form-control form-control-sm">
        </div>
        <button type="submit" class="btn btn-secondary btn-sm">{% trans %}OK{% endtrans %}</button>
    </form>
    <div class="table-responsive">
        <table class="table table-condensed table-striped">
            <colgroup>
                {#<col id="cPosition" />#}
                <col id="cId" />
                <col id="cThumbnail" />
                <col id="cTitle" />
                <col id="cCollection" />
                <col id="cLicense" />
                <col id="cActions" />
            </colgroup>
            <thead>
                <tr>
                    {#<th id="hPosition" scope="col">{% trans %}Position{% endtrans %}</th>#}
                    <th id="hId" scope="col">{% trans %}Id{% endtrans %}</th>
                    <th id="hThumbnail" scope="col">{% trans %}Thumbnail{% endtrans %}</th>
                    <th id="hTitle" scope="col">{% trans %}Title{% endtrans %}</th>
                    <th id="hCollection" scope="col">{% trans %}Collection{% endtrans %}</th>
                    <th id="hLicense" scope="col">{% trans %}License{% endtrans %}</th>
                    <th id="hActions" scope="col">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in paginator %}
                <tr>
                    {#<td headers="hEntity{{ entity.id }} hId">{{ entity.position }}</td>#}
                    <td headers="hEntity{{ entity.id }} hThumbnail">
                        <a href="{{ path('cmfcmfmediamodule_media_display', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}">
                            {{ entity.id }}
                        </a>
                    </td>
                    <th id="hEntity{{ entity.id }}" scope="row" headers="hId">
                        {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(entity) %}
                        {% set thumbnail = mediaType.thumbnail(entity, 200, 100, 'url') %}
                        {% if thumbnail %}
                            <img src="{{ thumbnail|e('html_attr') }}" alt="{{ entity.title|e('html_attr') }}" style="max-width: 200px; max-height: 100px" />
                        {% else %}
                            <i class="fa-fw fa-5x {{ mediaType.icon|e('html_attr') }}"></i>
                        {% endif %}
                    </th>
                    <td headers="hEntity{{ entity.id }} hTitle">{{ entity.title }}</td>
                    <td headers="hEntity{{ entity.id }} hCollection">{{ entity.collection.title }}</td>
                    <td headers="hEntity{{ entity.id }} hLicense">{% if entity.license %}{{ entity.license.title }}{% else %}--{% endif %}</td>
                    <td headers="hEntity{{ entity.id }} hActions" class="text-right">
                        <a href="{{ path('cmfcmfmediamodule_media_display', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" title="{% trans %}Show{% endtrans %}">
                            <i class="fas fa-fw fa-eye"></i>
                        </a>
                        <a href="{{ path('cmfcmfmediamodule_media_edit', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}">
                            <i class="fas fa-fw fa-edit"></i>
                        </a>
                        <a href="{{ path('cmfcmfmediamodule_media_delete', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}">
                            <i class="fas fa-fw fa-trash-alt text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="text-center warning">
                        {% trans %}No media available yet!{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pager">
            <li class="previous{% if page == 1 %} disabled{% endif %}">
                <a href="{% if page == 1 %}#{% else %}{{ path('cmfcmfmediamodule_media_adminlist', {page: (page - 1), q: currentSearchTerm}) }}{% endif %}">
                    <span aria-hidden="true">&larr;</span> {% trans %}Previous{% endtrans%}
                </a>
            </li>
            <li class="next{% if page == maxPage %} disabled{% endif %}"{% if page == maxPage %} disabled{% endif %}>
                <a href="{{ path('cmfcmfmediamodule_media_adminlist', {page: (page + 1), q: currentSearchTerm}) }}">
                    {% trans %}Next{% endtrans%} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% if cmfcmfmediamodule_hasPermission('media', 'new') %}
        <a href="{{ path('cmfcmfmediamodule_media_new') }}" class="btn btn-secondary">
            <i class="fas fa-fw fa-plus"></i> {% trans %}Create new media{% endtrans %}
        </a>
    {% endif %}
{% endblock %}
