{% extends 'CmfcmfMediaModule::adminBase.html.twig' %}
{% block title __('Media list') %}
{% block content %}
    <form action="{{ path('cmfcmfmediamodule_media_adminlist') }}" method="GET" class="form-inline">
        <div class="form-group">
            <label for="searchTerm">{{ __('Search', 'zikula') }}:</label>
            <input type="search" id="searchTerm" name="q" value="{{ currentSearchTerm|e('html_attr') }}" class="form-control">
        </div>
        <button type="submit" class="btn btn-default btn-sm">{{ __('OK') }}</button>
    </form>
    <div class="table-responsive">
        <table class="table table-condensed table-striped">
            <colgroup>
                {#<col id="cPosition" />#}
                <col id="cId" />
                <col id="cThumbnail" />
                <col id="cTitle" />
                <col id="cCollection" />
                <col id="cLicense" />
                <col id="cActions" />
            </colgroup>
            <thead>
                <tr>
                    {#<th id="hPosition" scope="col">{{ __('Position') }}</th>#}
                    <th id="hId" scope="col">{{ __('Id') }}</th>
                    <th id="hThumbnail" scope="col">{{ __('Thumbnail') }}</th>
                    <th id="hTitle" scope="col">{{ __('Title') }}</th>
                    <th id="hCollection" scope="col">{{ __('Collection') }}</th>
                    <th id="hLicense" scope="col">{{ __('License') }}</th>
                    <th id="hActions" scope="col">{{ __('Actions') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in paginator %}
                <tr>
                    {#<td headers="hEntity{{ entity.id }} hId">{{ entity.position }}</td>#}
                    <td headers="hEntity{{ entity.id }} hThumbnail">
                        <a href="{{ path('cmfcmfmediamodule_media_display', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}">
                            {{ entity.id }}
                        </a>
                    </td>
                    <th id="hEntity{{ entity.id }}" scope="row" headers="hId">
                        {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(entity) %}
                        {% set thumbnail = mediaType.thumbnail(entity, 200, 100, 'url') %}
                        {% if thumbnail %}
                            <img src="{{ thumbnail|e('html_attr') }}" alt="{{ entity.title|e('html_attr') }}" style="max-width: 200px; max-height: 100px" />
                        {% else %}
                            <i class="fa fa-fw fa-5x {{ mediaType.icon }}"></i>
                        {% endif %}
                    </th>
                    <td headers="hEntity{{ entity.id }} hTitle">{{ entity.title }}</td>
                    <td headers="hEntity{{ entity.id }} hCollection">{{ entity.collection.title }}</td>
                    <td headers="hEntity{{ entity.id }} hLicense">{% if entity.license %}{{ entity.license.title }}{% else %}--{% endif %}</td>
                    <td headers="hEntity{{ entity.id }} hActions" class="text-right">
                        <a href="{{ path('cmfcmfmediamodule_media_display', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" title="{{ __('Show')|e('html_attr') }}">
                            <i class="fa fa-fw fa-eye"></i>
                        </a>
                        <a href="{{ path('cmfcmfmediamodule_media_edit', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}">
                            <i class="fa fa-fw fa-edit"></i>
                        </a>
                        <a href="{{ path('cmfcmfmediamodule_media_delete', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}">
                            <i class="fa fa-fw fa-trash-o text-danger"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" class="text-center warning">
                        {{ __('No media available yet!') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <nav>
        <ul class="pager">
            <li class="previous{% if page == 1 %} disabled{% endif %}">
                <a href="{% if page == 1 %}#{% else %}{{ path('cmfcmfmediamodule_media_adminlist', {page: (page - 1), q: currentSearchTerm}) }}{% endif %}">
                    <span aria-hidden="true">&larr;</span> {{ __('Previous') }}
                </a>
            </li>
            <li class="next{% if page == maxPage %} disabled{% endif %}"{% if page == maxPage %} disabled{% endif %}>
                <a href="{{ path('cmfcmfmediamodule_media_adminlist', {page: (page + 1), q: currentSearchTerm}) }}">
                    {{ __('Next') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
    {% if cmfcmfmediamodule_hasPermission('media', 'new') %}
        <a href="{{ path('cmfcmfmediamodule_media_new') }}" class="btn btn-default">
            <i class="fa fa-fw fa-plus"></i> {{ __('Create new media') }}
        </a>
    {% endif %}
{% endblock %}
