<div class="single-medium">
    {{ mediaType.renderFullpage(entity)|raw }}

    {% if entity.description|default %}
        {{ entity|cmfcmfmediamodule_getdescription }}
    {% endif %}
    {% if entity.license %}
        <p>
            <strong>{% trans %}License{% endtrans %}</strong>:
            {% if entity.license.url|default %}
                <a href="{{ entity.license.url|e('html_attr') }}">
            {% endif %}
                {{ entity.license.title }}
            {% if entity.license.url|default %}
                </a>
            {% endif %}
        </p>
    {% endif %}
    {% if entity.attribution|default %}
        <p>{{ 'By %s%'|trans({'%s%': entity.attribution})|raw }}</p>
    {% endif %}
    <div class="list-group">
        {#% if entity.downloadAllowed|default and cmfcmfmediamodule_hasPermission(entity, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_DOWNLOAD_SINGLE_MEDIUM')) %}
            <a href="{{ path('cmfcmfmediamodule_media_download', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" class="list-group-item">
                <i class="fas fa-fw fa-download"></i>
                {% trans %}Download{% endtrans %}
            </a>
        {% endif %#}
        {% if cmfcmfmediamodule_hasPermission(entity, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_EDIT_MEDIA')) %}
            <a href="{{ path('cmfcmfmediamodule_media_edit', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" class="list-group-item list-group-item-warning">
                <i class="fas fa-fw fa-edit"></i>
                {% trans %}Edit{% endtrans %}
            </a>
        {% endif %}
        {#% if cmfcmfmediamodule_hasPermission(entity, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_DELETE_MEDIA')) %}
            <a href="{{ path('cmfcmfmediamodule_media_delete', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" class="list-group-item list-group-item-danger">
                <i class="fas fa-fw fa-trash-alt"></i>
                {% trans %}Delete{% endtrans %}
            </a>
        {% endif %#}
    </div>
</div>
