{% extends '@CmfcmfMediaModule/base.html.twig' %}
{% block above_title %}
    {% include '@CmfcmfMediaModule/Search/search.html.twig' %}
{% endblock %}
{% block title %}
    {{ entity.title }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12">
            {{ mediaType.renderFullpage(entity)|raw }}

            {% if entity.description|default %}
                {{ entity|cmfcmfmediamodule_getdescription }}
            {% endif %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="well well-sm">
                {% if entity.license %}
                    <p>
                        <strong>{% trans %}License{% endtrans %}</strong>:
                        {% if entity.license.url|default %}
                            <a href="{{ entity.license.url|e('html_attr') }}">
                        {% endif %}
                            {{ entity.license.title }}
                        {% if entity.license.url|default %}
                            </a>
                        {% endif %}
                    </p>
                {% endif %}
                {% if entity.categoryAssignments|length > 0 %}
                    <p><strong>{% trans %}Categories{% endtrans %}</strong>:</p>
                    <ul>
                    {% for assignment in entity.categoryAssignments %}
                        <li>{{ assignment.category.getDisplay_name(app.request.locale) }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% if entity.authorAvatarUrl|default %}
                    <img src="{{ entity.authorAvatarUrl }}" class="img img-rounded pull-right" alt="{% trans %}Author avatar{% endtrans %}" width="60" height="60" />
                {% endif %}
                {% if entity.attribution|default %}
                    <p>{{ 'By %s%'|trans({'%s%': entity.attribution})|raw }}</p>
                {% endif %}
                <div class="clearfix"></div>
                <p>
                    <strong>{% trans %}Added by{% endtrans %}</strong>: {{ entity.createdBy.uid|profileLinkByUserId }}
                    {% trans %}at {% endtrans %} {{ entity.createdDate|format_datetime('short', 'short') }}
                    {{ userAvatar(entity.createdBy.uid, {rating: 'g', class: 'img img-rounded pull-right', width: 60, height: 60}) }}
                    {% if views >= 0 %}
                        <strong>{% trans %}Views{% endtrans %}</strong>: {{ views }}
                    {% endif %}
                    <div class="clearfix"></div>
                </p>
            </div>
            {% set extendedMetaInformation = mediaType.extendedMetaInformation(entity) %}
            {% if extendedMetaInformation|default %}
                <div class="well well-sm">
                    {% for information in extendedMetaInformation %}
                        <p>
                            <strong>{{ information.title }}:</strong>
                            {{ information.value }}
                        </p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="list-group">
                {% if entity.downloadAllowed|default and cmfcmfmediamodule_hasPermission(entity, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_DOWNLOAD_SINGLE_MEDIUM')) %}
                    <a href="{{ path('cmfcmfmediamodule_media_download', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" class="list-group-item">
                        <i class="fa fa-fw fa-download"></i>
                        {% trans %}Download{% endtrans %}
                    </a>
                {% endif %}
                {% if cmfcmfmediamodule_hasPermission(entity.collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_OVERVIEW')) %}
                    <a href="{{ path('cmfcmfmediamodule_collection_display', {slug: entity.collection.slug}) }}" class="list-group-item">
                        <i class="fa fa-fw fa-folder-o"></i>
                        {% trans %}Back to the collection{% endtrans %}
                    </a>
                {% endif %}
                {% if cmfcmfmediamodule_hasPermission('media', 'admin') %}
                    <a href="{{ path('cmfcmfmediamodule_media_adminlist') }}" class="list-group-item">
                        <i class="fa fa-fw fa-arrow-left"></i>
                        {% trans %}Back to the list{% endtrans %}
                    </a>
                {% endif %}
                {% if cmfcmfmediamodule_hasPermission(entity, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_EDIT_MEDIA')) %}
                    <a href="{{ path('cmfcmfmediamodule_media_edit', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" class="list-group-item list-group-item-warning">
                        <i class="fa fa-fw fa-edit"></i>
                        {% trans %}Edit{% endtrans %}
                    </a>
                {% endif %}
                {% if cmfcmfmediamodule_hasPermission(entity, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_DELETE_MEDIA')) %}
                    <a href="{{ path('cmfcmfmediamodule_media_delete', {slug: entity.slug, collectionSlug: entity.collection.slug}) }}" class="list-group-item list-group-item-danger">
                        <i class="fa fa-fw fa-trash-o"></i>
                        {% trans %}Delete{% endtrans %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    {{ hook|raw }}
{% endblock %}
