{{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Media/HookEdit.js')) }}

<h3>{{ __('Hooked media', 'cmfcmfmediamodule') }}</h3>

{% include 'CmfcmfMediaModule:Finder:raw.html.twig' %}

<div class="table-responsive">
    <table class="table table-striped table-condensed">
        <colgroup>
            <col id="cThumbnail" />
            <col id="cTitle" />
            <col id="cActions" />
        </colgroup>
        <thead>
            <tr>
                <th id="hThumbnail" scope="col">{{ __('Thumbnail', 'cmfcmfmediamodule') }}</th>
                <th id="hTitle" scope="col">{{ __('Title', 'cmfcmfmediamodule') }}</th>
                <th id="hActions" scope="col"></th>
            </tr>
        </thead>
        <tbody id="cmfcmfmedia-media-hook-table">
            {% for media in selectedMedia %}
                <tr>
                    <td headers="hEntity{{ media.id }} hThumbnail">
                        {% if media.thumbnail.small %}
                            <img src="{{ media.thumbnail.small|e('html_attr') }}" alt="" />
                        {% endif %}
                    </td>
                    <th id="hEntity{{ media.id }}" scope="row" headers="hTitle">{{ media.title }}</th>
                    <td headers="hEntity{{ media.id }} hActions">
                        <input type="hidden" name="cmfcmfmediamodule[media][]" value="{{ media.id }}" />
                        <button type="button" class="cmfcmfmedia-media-hook-table-remove btn btn-danger btn-sm">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center cmfcmfmedia-empty-msg" colspan="3">{{ __('No media attached yet!', 'cmfcmfmediamodule') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
