<h1>{% trans %}Please select the size to embed.{% endtrans %}</h1>
<button class="btn btn-default cmfcmfmedia-btn-popup-embed" type="button" data-embed-code="{{ embedCodes.full|e('html_attr') }}">{% trans %}Full{% endtrans %}</button>
<button class="btn btn-default cmfcmfmedia-btn-popup-embed" type="button" data-embed-code="{{ embedCodes.medium|e('html_attr') }}">{% trans %}Medium{% endtrans %}</button>
<button class="btn btn-default cmfcmfmedia-btn-popup-embed" type="button" data-embed-code="{{ embedCodes.small|e('html_attr') }}">{% trans %}Small{% endtrans %}</button>
<button class="btn btn-default cmfcmfmedia-btn-popup-embed" type="button" data-embed-code="{{ ('<a href="' ~ path('cmfcmfmediamodule_media_download', {slug: slug, collectionSlug: collection.slug}) ~ '">' ~ title ~ '</a>')|e('html_attr') }}">{% trans %}Link{% endtrans %}</button>

<button class="btn btn-default cmfcmfmedia-btn-popup-embed" type="button" data-embed-code="{{ embedCodes.link|e('html_attr') }}">{% trans %}Link{% endtrans %}</button>
<script type="text/javascript">
    (function ($) {
        $('.cmfcmfmedia-btn-popup-embed').click(function () {
            var html = $(this).data('embed-code');
            switch (window.opener.CmfcmfMediaModule.currentEditor) {
                case 'ckeditor':
                    window.opener.CmfcmfMediaModule.currentEditorInstance.insertHtml(html);
                    break;
                case 'quill':
                    window.opener.CmfcmfMediaModule.currentEditorInstance.clipboard.dangerouslyPasteHTML(window.opener.CmfcmfMediaModule.currentEditorInstance.getLength(), html);
                    break;
                case 'summernote':
                    html = jQuery(html).get(0);
                    window.opener.CmfcmfMediaModule.currentEditorInstance.invoke('insertNode', html);
                    break;
                case 'tinymce':
                    window.opener.CmfcmfMediaModule.currentEditorInstance.insertContent(html);
                    break;
            }
            window.opener.toastr['success']('The media object has been successfully inserted.', 'Media object inserted');
            window.opener.focus();
            window.close();
        })
    })(jQuery);
</script>
