{% extends 'CmfcmfMediaModule:CollectionTemplate:cards.html.twig' %}

{% block media %}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/galleria/galleria-1.4.5.min.js'), 98) }}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/galleria/themes/classic/galleria.classic.min.js'), 99) }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:js/vendor/galleria/themes/classic/galleria.classic.css')) }}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Media/Display/galleria.js')) }}
    <div class="cmfcmfmedia-display-galleria" data-height="{{ options.height|e('html_attr') }}">
        {% for media in collection.media %}
            {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(media) %}
            {% set bigThumbnail = mediaType.thumbnail(media, 'original', 'original', 'url', 'inset') %}
            {% set smallThumbnail = mediaType.thumbnail(media, 'original', options.height, 'url', 'inset') %}
            <a href="{{ bigThumbnail|e('html_attr') }}">
                <img src="{{ smallThumbnail }}" data-title="{% if media.title is not empty %}{{ media.title }}{% endif %}" data-description="{% if media.attribution is not empty %}{{ media.attribution|e('html_attr') }}{% endif %}">
            </a>
        {% endfor %}
    </div>
{% endblock %}
