{% extends 'CmfcmfMediaModule:CollectionTemplate:cards.html.twig' %}

{% block media %}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/lightGallery/js/lightgallery-all.min.js'), 98) }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:js/vendor/lightGallery/css/lightgallery.min.css')) }}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Media/Display/lightGallery.js')) }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:css/Media/Display/lightGallery.css')) }}

    <div class="cmfcmfmedia-display-lightgallery" style="display: flex; flex-wrap: wrap; justify-content: space-around">
        {% for media in collection.media %}
            {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(media) %}
            {% set thumbnail = mediaType.thumbnail(media, options.thumbWidth, options.thumbHeight, 'url', options.thumbMode) %}
            <a href="{{ mediaType.originalWithWatermark(media, 'url') }}" style="margin: 4px" data-sub-html=".caption" data-download-url="
                {%- if media.downloadAllowed|default -%}
                    {{- path('cmfcmfmediamodule_media_download', {slug: media.slug, collectionSlug: media.collection.slug})|e('html_attr') -}}
                {%- else -%}
                    false
                {%- endif -%}
            ">
                <img src="{{ thumbnail|e('html_attr') }}" class="img-responsive" />
                <div class="caption">
                    {% if media.title|default %}
                        <h4{% if not options.showTitleBelowThumbs %} class="hidden"{% endif %}>{{ media.title }}</h4>
                    {% endif %}
                    {% if media.attribution|default %}
                        <p{% if not options.showAttributionBelowThumbs %} class="hidden"{% endif %}>{{ __f('By %s', {'%s': media.attribution})|raw }}</p>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
