{% include 'CmfcmfMediaModule::util.html.twig' %}

<div class="table-responsive">
    <table class="table table-hover">
        <colgroup>
            <col id="cTitle" />
            <col id="cLicense" />
            <col id="cAuthor" />
            <col id="cActions" />
        </colgroup>
        <thead>
            <tr>
                <th id="hTitle" scope="col">{{ __('Title') }}</th>
                <th id="hLicense" scope="col">{{ __('License') }}</th>
                <th id="hAuthor" scope="col">{{ __('Author') }}</th>
                <th id="hActions" scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% if showChildCollections %}
            {% if collection.parent is not null %}
                {% set parentCollectionPermission = cmfcmfmediamodule_hasPermission(collection.parent, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_OVERVIEW')) %}
                {% if parentCollectionPermission %}
                    <tr class="active">
                        <td headers="hTitle">
                            <a href="{{ path('cmfcmfmediamodule_collection_display', {slug: collection.parent.slug})|e('html_attr') }}">
                                <i class="fa fa-fw fa-folder-o"></i> ..
                            </a>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                {% endif %}
            {% endif %}
            {% set editCollectionPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_EDIT_COLLECTION')) %}
            {% for child in collection.children %}
                {% if cmfcmfmediamodule_hasPermission(child, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_OVERVIEW')) %}
                    <th headers="hTitle" scope="row" colspan="3">
                        <a href="{{ path('cmfcmfmediamodule_collection_display', {slug: child.slug})|e('html_attr') }}">
                            <i class="fa fa-fw fa-folder-o"></i> {{ child.title }}
                        </a>
                    </th>
                    <td headers="hActions" class="text-right">
                        <a class="btn btn-default btn-xs" href="{{ path('cmfcmfmediamodule_collection_display', {slug: child.slug})|e('html_attr') }}">
                            <i class="fa fa-search"></i> {{ __('View collection') }}
                        </a>
                    </td>
                {% endif %}
            {% endfor %}
        {% endif %}
        {# Media #}
        {% set viewMediaPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_MEDIA_DETAILS')) %}
        {% set downloadMediaPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_DOWNLOAD_SINGLE_MEDIUM')) %}
        {% set editMediaPermission = cmfcmfmediamodule_hasPermission(collection, constant('Cmfcmf\\Module\\MediaModule\\Security\\CollectionPermission\\CollectionPermissionSecurityTree::PERM_LEVEL_EDIT_MEDIA')) %}
        {% for media in collection.media %}
            <tr>
                <th headers="hTitle" scope="row">
                    {% if viewMediaPermission %}
                        <a href="{{ path('cmfcmfmediamodule_media_display', {slug: media.slug, collectionSlug: media.collection.slug})|e('html_attr') }}">
                    {% endif %}
                            {% set mediaType = mediaTypeCollection.mediaTypeFromEntity(media) %}
                            <i class="fa fa-fw {{ mediaType.icon }}"></i>
                        {{ media.title }}
                    {% if viewMediaPermission %}
                        </a>
                    {% endif %}
                </th>
                <td headers="hLicense">
                    {% if media.license is not null %}
                        {% if media.license.url is not null %}
                            <a href="{{ media.license.url|e('html_attr') }}" title="{{ media.license.title }}">
                        {% endif %}
                                {% if media.license.imageUrl is not null %}
                                    <img src="{{ media.license.imageUrl|e('html_attr') }}" />
                                {% else %}
                                    {{ media.license.title }}
                                {% endif %}
                        {% if media.license.url is not null %}
                            </a>
                        {% endif %}
                    {% else %}
                        {{ __('Unkown') }}
                    {% endif %}
                </td>
                <td headers="hAuthor">{{ media.attribution|raw }}</td>
                <td headers="hActions" class="text-right">
                    {% if viewMediaPermission %}
                        <a class="btn btn-default btn-xs" href="{{ path('cmfcmfmediamodule_media_display', {slug: media.slug, collectionSlug: media.collection.slug})|e('html_attr') }}">
                            <i class="fa fa-search"></i> {{ __('Details') }}
                        </a>
                    {% endif %}
                    {% if downloadMediaPermission and media.downloadAllowed|default %}
                        <a class="btn btn-default btn-xs" href="{{ path('cmfcmfmediamodule_media_download', {slug: media.slug, collectionSlug: media.collection.slug})|e('html_attr') }}">
                            <i class="fa fa-download"></i> {{ __('Download') }}
                        </a>
                    {% endif %}
                    {% if editMediaPermission %}
                        <a class="btn btn-default btn-xs" href="{{ path('cmfcmfmediamodule_media_edit', {slug: media.slug, collectionSlug: media.collection.slug})|e('html_attr') }}">
                            <i class="fa fa-pencil"></i> {{ __('Edit') }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center warning">{{ __('This collection does not contain media!') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
