{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block form_help -%}
    {% for attrname, attrvalue in attr %}
        {% if attrname == 'help' %}
            <span class="help-block">{{ attrvalue }}</span>
        {% endif %}
    {% endfor %}
{%- endblock form_help %}

{% block form_errors -%}
    {{ parent() }}
    {{- block('form_help') -}}
{%- endblock form_errors %}

{%- block widget_attributes -%}
    {% set tmp = false %}
    {% if attr.help is defined %}
        {% set tmp = attr.help %}
        {% set attr = attr|merge({help: false}) %}
    {% endif %}
    {{ parent() }}
    {% if tmp != false %}
        {% set attr = attr|merge({help: tmp}) %}
    {% endif %}
{%- endblock widget_attributes -%}

{%- block cmfcmfmediamodule_font_choice_widget -%}
    {{ pageAddAsset('stylesheet', fontUrl) }}
    {{ block('choice_widget') }}
    <script type="text/javascript">
        // Using JavaScript here is extremely ugly. Oh well..
        (function ($) {
            $('#{{ id|e('js') }}').find('.radio label').each(function () {
                var font = $(this).text().trim();
                $(this).css({'font-family': "'" + font + "'"});
            });
        })(jQuery);
    </script>
{%- endblock -%}

{% block cmfcmfmediamodule_permission_widget %}
    {{ pageAddAsset('javascript',  zasset('@CmfcmfMediaModule:js/Collection/Permission/New.js')) }}
    <div class="table-responsive">
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                {% for category in securityCategories %}
                    <th class="text-center">{{ category.title }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for category in securityCategories %}
                    <td>
                        {% for vertex in securityGraph.verticesByCategory(category) %}
                            <label>
                                <input type="checkbox" class="cmfcmfmedia-security-level"
                                       value="{{ vertex.id|e('html_attr') }}"
                                       name="{{ full_name }}[]"
                                       data-vertex-id="{{ vertex.id|e('html_attr') }}"
                                       data-required-vertices="{{ securityGraph.requiredVertices(vertex).ids|json_encode|e('html_attr') }}"
                                       data-conflicting-vertices="{{ securityGraph.conflictedVertices(vertex).ids|json_encode|e('html_attr') }}"
                                       {% if vertex.id in value %} checked="checked" {% endif %}
                                >
                                {{ vertex.attribute('title') }}
                            </label>
                            <br/>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{%- block cmfcmfmediamodule_color_widget -%}
    {{ block('form_widget_simple') }}
    {{ pageAddAsset('stylesheet', zasset('@CmfcmfMediaModule:js/vendor/color-picker/spectrum.css')) }}
    {{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/color-picker/spectrum.js')) }}
    {#{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/vendor/color-picker/i18n/jquery-spectrum-' ~ lang() ~ '.js')) }#}
    <script type="text/javascript">
        // Using JavaScript here is extremely ugly. Oh well..
        (function ($) {
            $('#{{ id|e('js') }}').spectrum({
                preferredFormat: "hex8", // argb
                showButtons: false,
                showInitial: true,
                flat: true,
                showAlpha: true
            });
        })(jQuery);
    </script>
    <style>
        .sp-container {
            z-index: 100;
        }
    </style>
{%- endblock -%}
