{% extends 'CmfcmfMediaModule::base.html.twig' %}
{% block title __('Licenses') %}
{% block content %}
    {{ parent() }}
    {% if cmfcmfmediamodule_hasPermission('license', 'add') %}
        <a href="{{ path('cmfcmfmediamodule_license_new') }}" class="btn btn-default">
            <i class="fa fa-fw fa-plus"></i> {{ __('Create new license') }}
        </a>
        <br />
        <br />
    {% endif %}

    <div class="table-responsive">
        <table class="table table-condensed table-striped">
            <colgroup>
                <col id="cId" />
                <col id="cTitle" />
                <col id="cUrl" />
                <col id="cIcon" />
                <col id="cOutdated" />
                <col id="cEnabledForUpload" />
                <col id="cEnabledForWebEmbed" />
                <col id="cActions" />
            </colgroup>
            <thead>
                <tr>
                    <th id="hId" scope="col">{{ __('ID') }}</th>
                    <th id="hTitle" scope="col">{{ __('Title') }}</th>
                    <th id="hUrl" scope="col">{{ __('Url') }}</th>
                    <th id="hIcon" scope="col">{{ __('Icon') }}</th>
                    <th id="hOutdated" scope="col">{{ __('Outdated') }}</th>
                    <th id="hEnabledForUpload" scope="col">{{ __('Enabled for upload') }}</th>
                    <th id="hEnabledForWebEmbed" scope="col">{{ __('Enabled for web embed') }}</th>
                    <th id="hActions" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr{% if entity.outdated %} class="warning"{% endif %}>
                    <td headers="hEntity{{ entity.id }} hId">{{ entity.id }}</td>
                    <th id="hEntity{{ entity.id }}" scope="row" headers="hTitle">{{ entity.title }}</th>
                    <td headers="hEntity{{ entity.id }} hUrl">
                        {% if entity.url is not empty %}
                            <a href="{{ entity.url }}">
                                {{ entity.url }}
                            </a>
                        {% endif %}
                    </td>
                    <td headers="hEntity{{ entity.id }} hIcon">
                        {% if entity.imageUrl is not empty %}
                            <img src="{{ entity.imageUrl}}" alt="{{ entity.imageUrl }}" style="max-width: 100px" />
                        {% endif %}
                    </td>
                    <td headers="hEntity{{ entity.id }} hOutdated">
                        {% if entity.outdated %}
                            {{ __('yes') }}
                        {% else %}
                            {{ __('no') }}
                        {% endif %}
                    </td>
                    <td headers="hEntity{{ entity.id }} hEnabledForUpload">
                        {% if entity.enabledForUpload %}
                            {{ __('yes') }}
                        {% else %}
                            {{ __('no') }}
                        {% endif %}
                    </td>
                    <td headers="hEntity{{ entity.id }} hEnabledForWebEmbed">
                        {% if entity.enabledForWeb %}
                            {{ __('yes') }}
                        {% else %}
                            {{ __('no') }}
                        {% endif %}
                    </td>
                    <td headers="hEntity{{ entity.id }} hActions" class="text-right">
                        {% if cmfcmfmediamodule_hasPermission(entity, 'edit') %}
                            <a href="{{ path('cmfcmfmediamodule_license_edit', {id: entity.id}) }}">
                                <i class="fa fa-fw fa-edit"></i>
                            </a>
                        {% endif %}
                        {% if cmfcmfmediamodule_hasPermission(entity, 'delete') %}
                            <a href="{{ path('cmfcmfmediamodule_license_delete', {id: entity.id}) }}" class="text-danger">
                                <i class="fa fa-fw fa-trash-o"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
