{% extends 'CmfcmfMediaModule:Settings:settings.html.twig' %}
{% block settings_content %}
    <div class="alert alert-{{ uploadSize.state }}">
        <strong>{{ uploadSize.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': uploadSize.for}) }}.
    </div>
    <div class="alert alert-{{ fileInfo.state }}">
        <strong>{{ fileInfo.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': fileInfo.for}) }}.
    </div>
    <div class="alert alert-{{ imagine.state }}">
        <strong>{{ imagine.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': imagine.for}) }}.
    </div>
    <div class="alert alert-{{ memoryLimit.state }}">
        <strong>{{ memoryLimit.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': memoryLimit.for}) }}.
    </div>
    <div class="alert alert-{{ zip.state }}">
        <strong>{{ zip.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': zip.for}) }}.
    </div>
    <div class="alert alert-{{ curl.state }}">
        <strong>{{ curl.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': curl.for}) }}.
    </div>
    <div class="alert alert-{{ phar.state }}">
        <strong>{{ phar.message }}</strong>
        {{ 'Used for %s%'|trans({'%s%': phar.for}) }}.
    </div>
{% endblock %}
