{% include 'CmfcmfMediaModule::util.html.twig' %}
{{ pageAddAsset('javascript', zasset('@CmfcmfMediaModule:js/Finder/base.js')) }}
<div class="row">
    <div class="col-xs-12">
        <div class="input-group">
            <input class="form-control" placeholder="{{ __('Insert search text')|e('html_attr') }}" id="cmfcmfmedia-finder-search-input" autofocus />
            <span class="input-group-addon"><i class="fa fa-cog fa-spin hidden"></i></span>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <colgroup>
                    <col id="cType" />
                    <col id="cTitle" />
                    <col id="cLicense" />
                    <col id="cUrl" />
                    <col id="cActions" />
                </colgroup>
                <thead>
                    <tr>
                        <th id="hType" scope="col">{{ __('Type', 'cmfcmfmediamodule') }}</th>
                        <th id="hTitle" scope="col">{{ __('Title', 'cmfcmfmediamodule') }}</th>
                        <th id="hLicense" scope="col">{{ __('License', 'cmfcmfmediamodule') }}</th>
                        <th id="hUrl" scope="col">{{ __('Url', 'cmfcmfmediamodule') }}</th>
                        <th id="hActions" scope="col"></th>
                    </tr>
                </thead>
                <tbody id="cmfcmfmedia-finder-table-body"></tbody>
            </table>
        </div>
    </div>
</div>
