{% extends '@CmfcmfMediaModule/base.html.twig' %}
{% block title %}
    {% trans %}Watermarks{% endtrans %}
{% endblock %}
{% block content %}
    {% if cmfcmfmediamodule_hasPermission('watermark', 'new') %}
        <a href="{{ path('cmfcmfmediamodule_watermark_new', {type: 'image'}) }}" class="btn btn-secondary">
            <i class="fas fa-fw fa-image"></i>
            {% trans %}Create a new image-based watermark{% endtrans %}
        </a>
        <a href="{{ path('cmfcmfmediamodule_watermark_new', {type: 'text'}) }}" class="btn btn-secondary">
            <i class="fas fa-fw fa-font"></i>
            {% trans %}Create a new text-based watermark{% endtrans %}
        </a>
        <br />
        <br />
    {% endif %}

    <div class="table-responsive">
        <table class="table table-condensed table-striped table-hover">
            <colgroup>
                <col id="cId" />
                <col id="cTitle" />
                <col id="cContent" />
                <col id="cPosition" />
                <col id="cImageSize" />
                <col id="cRelativeSize" />
                <col id="cActions" />
            </colgroup>
            <thead>
                <tr>
                    <th id="hId" scope="col">{% trans %}ID{% endtrans %}</th>
                    <th id="hTitle" scope="col">{% trans %}Title{% endtrans %}</th>
                    <th id="hContent" scope="col">{% trans %}Content{% endtrans %}</th>
                    <th id="hPosition" scope="col">{% trans %}Position{% endtrans %}</th>
                    <th id="hImageSize" scope="col">{% trans %}Image size{% endtrans %}</th>
                    <th id="hRelativeSize" scope="col">{% trans %}Relative size{% endtrans %}</th>
                    <th id="hActions" scope="col">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td headers="hId">{{ entity.id }}</td>
                    <th id="hEntity{{ entity.id }}" scope="row" headers="hTitle">{{ entity.title }}</th>
                    <td headers="hEntity{{ entity.id }} hContent">{{ entity.viewTableContent|raw }}</td>
                    <td headers="hEntity{{ entity.id }} hPosition">{{ entity.positionX }} x {{ entity.positionY }}</td>
                    <td headers="hEntity{{ entity.id }} hImageSize">{{ entity.minSizeX }} x {{ entity.minSizeY }}</td>
                    <td headers="hEntity{{ entity.id }} hRelativeSize">
                        {% if entity.relativeSize is not null %}
                            {{ entity.relativeSize }} %
                        {% endif %}
                    </td>
                    <td headers="hEntity{{ entity.id }} hActions" class="text-right">
                        {% if cmfcmfmediamodule_hasPermission(entity, 'edit') %}
                            <a href="{{ path('cmfcmfmediamodule_watermark_edit', {id: entity.id}) }}">
                                <i class="fas fa-edit fa-fw"></i>
                            </a>
                        {% endif %}
                        {% if cmfcmfmediamodule_hasPermission(entity, 'delete') %}
                            <a href="{{ path('cmfcmfmediamodule_watermark_delete', {id: entity.id}) }}" class="text-danger">
                                <i class="fas fa-trash-alt fa-fw"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7" class="text-center">
                        {% trans %}No watermarks created yet.{% endtrans %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
